@import './styles/_var.scss';
@import './styles/_navbar.scss';
@import './styles/_home.scss';
@import './styles/_about.scss';
@import './styles/_skills.scss';
@import './styles/_projects.scss';
@import './styles/_contact.scss';

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: $Background;

    .spacer{
        height: 10vh;
    }

    .html{
        @include font($HTMLSize,300,$Secondary,$Light);
        letter-spacing: .3rem;
    }

}